<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <p style="text-align: center;">
     <h2><a href="{% url 'add_category'%}">add product category</a></h2>
     <br>
     <h2><a href="{% url 'add_product'%}">add product</a></h2>
     <br>
     <h2><a href="{% url 'all_categories'%}">view category</a></h2>
     <br>
     <h2><a href="{% url 'all_products'%}">view product</a></h2>
     <br>
     <h2><a href="{% url 'seller_approve_delivery_view' %}">approve pending delivery boys</a></h2>
    </p>
    <nav>
        <ul>
            <!-- Other navigation links -->
            <li><a href="{% url 'seller_change_password' %}">change password</a></li>
        </ul>
    </nav> 
</body>
</html>

